@charset "utf-8";
.container {
    padding: 60px 0;
}
.field-box {
    margin-top: 10px;
}
.field {
    width: 100%;
    margin-bottom: 25px;
}
.field-title {
    width: 100%;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}
span {
    margin-right: 3px;
}

.micropostshow-img{
    height: 400px;
    object-fit: contain;
    width: 100%;
}

.micropostshow-img1 .carousel{
    width:100%;
}